<%- include ../header -%>

  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__supporting-text">
        <h4>Info</h4>
        <p>That's the place where you can choose 4 different plans where only one actually makes sense. Well, let's save you the trubles and make it simple:</p>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Info</th>
              <th class="mdl-data-table__cell--non-numeric">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Token</td>
              <td class="mdl-data-table__cell--non-numeric"><%= user.token %></td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Email</td>
              <td class="mdl-data-table__cell--non-numeric"><%= user.email %></td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Monthly calls</td>
              <td class="mdl-data-table__cell--non-numeric"><a href="/calls"><%= user.monthly_calls_count %></a></td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Expected bill</td>
              <td class="mdl-data-table__cell--non-numeric"><a href="/bills">$<%= user.monthly_bill() %></a></td>
            </tr>
            <% if (user.card.token) { %>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Card number</td>
              <td class="mdl-data-table__cell--non-numeric"><a href="#payment">****<%= user.card.last_digits %></a></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <a name="payment"></a>
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white"></header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__supporting-text">
        <h4>Update Payment</h4>
        <form id="payment-form" onsubmit="return onUpdateCard(this);" action="card" method="POST" >
          <p>Level up! Get more as many calls as you need.</p>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="number" size="20" data-stripe="number" maxlength="18" />
            <label class="mdl-textfield__label" for="email">number...</label>
          </div><br/>
          <div class="short mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="month" size="2" data-stripe="exp-month" maxlength="2" />
            <label class="mdl-textfield__label" for="password">month</label>
          </div> / 
          <div class="short mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="year" size="2" data-stripe="exp-year" maxlength="2" />
            <label class="mdl-textfield__label" for="password">year</label>
          </div>
           <div class="short mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="cvc" size="4" data-stripe="cvc" maxlength="3" />
            <label class="mdl-textfield__label" for="password">cvc</label>
          </div><br/>
          <input type="hidden" name="token" id="token" />
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Update</button>
          <p id="error" style="color:red;"></p>
        </form>
      </div>
    </div>
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">

    function onUpdateCard(form){
      Stripe.setPublishableKey('pk_test_QNbEPeTckhQCMGiR0HkYZR8x');
      if ($("#token").val() == ""){
        Stripe.card.createToken(form, stripeResponseHandler);
        return false;
      }
    }

    function stripeResponseHandler(status, response) {
      console.log(status, response);
      if (status == 200){
        $("#error").text("");
        $("#token").val(response.id);
        $("#payment-form").submit();
        return true;
      } else {
        $("#error").text(response.error.message);
      }
    };
  </script>


<%- include ../footer -%>